*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tableWrapper{
    width: 20%;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    >div{
        width: auto;
        height: 150px;
    }
}
.hit{
    border: solid black 1px;
    border-radius: 50%;
    height: 50px;
}

.fret{
    border: 1px, solid, black;
}

